* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.head-container {
  display: flex;
  flex-direction: column;
}
.nav-container {
  background-color: #cbd5e1;
  width: 100%;
  height: auto;
  padding-left: 50px;
  padding: 10px;
}
.nav-logo {
  background-color: transparent;
  height: 100px;
  width: 300px;
}
.input {
  margin-top: 50px;
  margin-left: 50px;
  width: 40%;
  height: 30px;
  color: 1px solid #73787f;
  padding-left: 15px;
}
.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fail-img {
  height: 50vh;
  width: 30vh;
  background-color: transparent;
}
.fail.heading {
  color: black;
  font-weight: 600;
  font-size: 25px;
  font-family: roboto;
}
.para {
  color: rgb(95, 95, 95);
  font-weight: 600;
  font-size: 25px;
  font-family: roboto;
}
.products-list-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 50px;
}
